{
  "all": true,
  "cache": false,
  "exclude": [
    "coverage/**/*",
    "test/**/*",
    "build/**/*"
  ],
  "extensions": [
    ".ts"
  ],
  "report-dir": "./coverage",
  "reporter": [
    "cobertura",
    "html",
    "text",
    "text-summary"
  ],
  "temp-directory": "./coverage/.nyc_output"
}